<%= link_to("<< Back to List", {:action => 'list'},:class => 'back-link') %>
<div class="Admin User edit">
	<h2>Update Admin User</h2>
	<%= form_for(:admin_user, :url => {:action => 'update', :id => @admin.id}) do |f|%>
	<%= render(:partial => "form", :locals => {:f => f} ) %>
	<div class="form-buttons">
		<%= submit_tag("Update Admin User")%>
	</div>
	<% end %>
</div>